{% comment %}
    This file is used to define a Widget for a Field
    It lets the user use drag&drop to re-arrange objects

{% endcomment %}

<input type="hidden" name="{{ widget.name }}" id="{{ widget.attrs.id }}"
       value="{{ widget.currentOrder }}" {% include "custom_widgets/attrs.html" %}/>
<ul class="sort_list">
    {% for object in widget.objects %}
        <li id="{{ object.id }}" class="sort-target"><i class="handle fas fa-grip-lines"></i>{{ object }}</li>
    {% empty %}
        <li class="sort-target empty-notification">No {{ widget.viewset_display_name }}s in the database</li>
    {% endfor %}
</ul>