{% comment %}
    This file is used to define a Widget for a Field
    It lets the user select from a series of dropdowns, what permissions other users have
{% endcomment %}

<input type="hidden" name="{{ widget.name }}" id="{{ widget.attrs.id }}"
       value="{{ widget.value|default_if_none:"{}" }}" {% include "custom_widgets/attrs.html" %}/>
<br>
<div class="perm-dropdowns">
    {% for viewset in widget.viewsets %}
        <div class="perm-entry">
            <label class="perm-label" for="{{ viewset.get_safe_name }}-dropdown">Permissions
                For {{ viewset.displayName|title }}s:</label>
            <select autocomplete="off" class="perm-dropdown" id="{{ viewset.get_safe_name }}-dropdown">
                <option value="None">None</option>
                <option value="View">View</option>
                <option value="*">Edit & View</option>
            </select>
        </div>
    {% endfor %}
</div>
