html {
    /* Colors */
    --clr1: #23B7D9;
    --clr2: #28A3A9;
    --clr3: #1D777C;
    --ac1: #AFD971;
    --ac2: #7BB661;
    --ac3: #609A47;
    /* Text Sizes */
    --h1: 3.2rem;
    --h2: 2.4rem;
    --h3: 1.8rem;
    --h4: 1.6rem;
    --h5: 1.35rem;
    --h6: 1.1rem;
}

body {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
}

p, a {
    font-family: "Noto Sans", Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    box-shadow: 0 1px 8px 0;
}

.nav-link-current {
    color: var(--ac1);
}

.navbar-item {
    transition: color 200ms linear, background-color 200ms linear;
}

a.navbar-item:hover {
    background-color: #c0c0c0;
    color: var(--clr1);
}

.main, .admin-main {
    flex-grow: 1;
}

.footer {
    display: flex;
    padding-bottom: 48px;
}

.footer-link {
    margin-left: 2vw;
}

.social-div {
    margin-left: auto;
}