/* Bulma Fixes */
.panel-heading, .card-content {
    color: black;
}

html {
    /* Colors */
    --clr1: #23B7D9;
    --clr2: #28A3A9;
    --clr3: #1D777C;
    --gr-clr: #53979a;
    --ac1: #AFD971;
    --ac2: #7BB661;
    --ac3: #609A47;
    --color-transition: color 200ms linear, background-color 200ms linear, border-color 200ms linear;
    /* Text Sizes */
    font-size: 16px;
    --h1: 2rem;
    --h2: 1.5rem;
    --h3: 1.125rem;
    --h4: 1rem;
    --h5: 0.75rem;
    --h6: 0.625rem;
}

body {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: black;
    font-size: var(--h4);
}

/* Text */
h1 {
    font-size: var(--h1)
}

h2 {
    font-size: var(--h2)
}

h3 {
    font-size: var(--h3)
}

h4 {
    font-size: var(--h4)
}

h5 {
    font-size: var(--h5)
}

h6 {
    font-size: var(--h6)
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
}

p, a {
    font-family: "Noto Sans", Verdana, Geneva, Tahoma, sans-serif;
}

/* Button */
/* TODO: Decide if other button variations are needed. */
.dental-button {
    padding: 0.3em 1.25em;
    background-color: var(--clr1);
    border: solid 0.1em var(--clr1);
    border-radius: 2em;
    color: white;
    transition: var(--color-transition);
}

.dental-button:hover {
    border-color: var(--ac1);
    color: var(--ac1);
}

/* NavBar */
.navbar {
    box-shadow: 0 1px 8px 0;
}

.navbar-item {
    transition: var(--color-transition);
}

a.navbar-item:hover {
    background-color: #eeeeee;
    color: var(--clr1);
}

.nav-link-current {
    color: var(--ac2);
}

/* Page Content */
.main {
    flex-grow: 1;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}

.footer-link {
    margin: 0.3125em;
}

.dental-social-div {
    margin: 0.7em;
}

@media only screen and (min-width: 500px) {
    .footer {
        flex-direction: row;
    }

    .dental-social-div {
        margin-left: auto;
    }
}