

.event-grid {
    display: grid;
    margin: -1em;
}

.event-grid .card {
    margin: 1em;
    width: calc(100% - 2em);
    display: flex;
    flex-direction: column;
}

.property-title {
    color: var(--clr3);
}

@media only screen and (min-width: 800px) {
    .event-grid {
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fill, 400px);
    }
}