.image-grid {
    display: grid;
}

.image-grid-item-outer-wrapper {
    position: relative;
    padding-top: 100%;
    /* TODO: Change gallery photo background to blend in better */
    box-shadow: 3px 3px 12px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin: 15px;
}

.image-grid-item-inner-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-grid img {
    max-width: 100%;
    max-height: 100%;
}

.load-more {
    background-color: #EEE;
    border: solid 2px #9ba7ac;
    transition: background-color 100ms linear;
    border-radius: 5px;
    font-size: 1.2em;
}

.load-more:hover {
    background-color: #9ba7ac;
    border-color: #73797f;
}

.empty {
    box-shadow: none;
    display: none;
    order: 2;
}

@media only screen and (min-width: 400px) {
    .image-grid {
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }

    .small {
        grid-template-columns: repeat(auto-fit, minmax(330px, 550px));
    }
}

@media only screen and (min-width: 660px) {
    .empty {
        display: block;
    }
}