.image-grid {
    display: grid;
    margin: -1em;
}

.image-grid-cell {
    position: relative;
    margin: 1em;
    width: calc(100% - 3em);
    padding-top: calc(100% - 3em);
    background-color: var(--gr-clr);
}

.image-grid-item-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-grid-item {
    max-width: 80%;
    max-height: 80%;
}

@media only screen and (min-width: 400px) {
    .image-grid {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}