{% extends 'admin_base.html' %}

{% block adminLinks %}

    <style>

        :root {
            --action-size: 450px;
        {#--all-margin: 10vw;#}
        }

        div.adminContent {
            margin: 0;
        }

        div.actions {
            display: flex;
            box-sizing: content-box;
            flex-wrap: wrap;
            margin: 3vh auto;
            width: calc(100% - 10vw);
            position: relative;
        }

        a.action {
            flex-grow: 1;
            user-select: none;
            width: var(--action-size);
            box-shadow: 4px 4px 18px -2px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            transition: var(--hover-bg-transition);
            text-decoration: none;
            margin: 2vh 1vw;
        }

        a.action:hover {
            background-color: var(--ac-light-grey);
        }

        a.action:hover .action_thumbnail {
            background-color: var(--ac-grey);
        }

        a.action:hover .action_thumbnail i {
            color: var(--ac-dark);
        }

        a.action:hover .action_name {
            color: var(--ac-dark);
        }

        div.action_thumbnail i {
            transition: var(--hover-transition);
        }

        div.action_thumbnail {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f2f2f2;
            height: 300px;
            transition: var(--hover-bg-transition);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        div.action_thumbnail i {
            color: var(--clr-header);
            font-size: 150px;
        }

        h2.action_name {
            margin: 10px 2px;
            text-align: center;
            color: var(--clr-header);
            transition: var(--hover-transition);
        }


    </style>

{% endblock %}

{% block adminHeader %}Welcome, {{ user|title }}{% endblock %}

{% block adminContent %}

    <div class="actions">
        <a href="{% url "main:home" %}" class="action">
            <div class="action_thumbnail">
                <i class="fas fa-eye"></i>
            </div>
            <h2 class="action_name">View Site</h2>
        </a>
        {% for vs in viewsets %}
            <a href="{{ vs.overview_link }}" class="action">
                <div class="action_thumbnail">
                    <i class="fas {{ vs.pictureClass }}"></i>
                </div>
                <h2 class="action_name">{{ vs.displayName }}s</h2>
            </a>
        {% endfor %}
        <a href="{% url "edit:logout" %}" class="action">
            <div class="action_thumbnail">
                <i class="fas fa-sign-out-alt"></i>
            </div>
            <h2 class="action_name">Logout</h2>
        </a>
        <a href="#" class="action">
            <div class="action_thumbnail">
                <i class="fas fa-question-circle"></i>
            </div>
            <h2 class="action_name">Help</h2>
        </a>
        {% if debug and user.is_staff %}
            <a target="_blank" href="/debug_admin/" class="action">
                <div class="action_thumbnail">
                    <i class="fas fa-code"></i>
                </div>
                <h2 class="action_name">Debug</h2>
            </a>
        {% endif %}
    </div>

{% endblock %}