{% extends 'base.html' %}

{% block meta %}
    <title>Berks Dental Assistants: Admin</title>
    <meta name="description" content="Berks Dental Assistants' Admin Section.">
{% endblock %}

{% load adminTags %}

{% block links %}

    <style>

        :root {
            --all-margin: 2vw;
            --red-color: #e33434;
            --green-color: #2eb72e;
            --defualt-hover-color: var(--ac);
            --color-transition-time: 100ms;
            --hover-transition: color var(--color-transition-time) linear;
            --hover-bg-transition: background-color var(--color-transition-time) linear;
        }

        body {
            background-color: white;
        }

        h1.adminHeader {
            margin: var(--all-margin);
            user-select: none;
            border-bottom: solid var(--clr-header) 3px;
        }

        div.adminContent {
            margin: var(--all-margin);
        }

        div.additionalNavigation {
            float: right;
        }

        a.navigationAction {
            color: var(--clr-header);
            transition: var(--hover-transition);
        }

        a.navigationAction:hover {
            color: var(--defualt-hover-color);
            filter: none;
        }

        h3.alert {
            --border-color: var(--ac-grey);
            --bg-color: var(--ac-light-grey);
        }

        h3.alert-error {
            --border-color: #c40000;
            --bg-color: #e38282;
        }

        h3.alert-warning {
            --border-color: #878700;
            --bg-color: #ffff74;
        }

        h3.alert-info {
            --border-color: #0071ae;
            --bg-color: skyblue;
        }

        h3.alert-success {
            --border-color: #147914;
            --bg-color: lightgreen;
        }

        h3.alert {
            border: solid 3px var(--border-color);
            border-radius: 15px;
            background-color: var(--bg-color);
            color: var(--clr-header);
            margin: 1vh var(--all-margin);
            padding: 1vh 2vw 1vh 1vw;
            display: flex;
            align-items: center;
        }

        .navigationAction.labeled {
            padding: 0 2vw;
            border-radius: 15px;
        }

        h3.alert i.alert-icon {
            color: var(--border-color);
            font-size: var(--h2);
            margin-right: 10px;
        }

    </style>

    {% block adminLinks %}


    {% endblock %}

{% endblock %}

{% block content %}

    {% load adminTags %}
    {% getAlert request as alert %}
    {% if alert %}
        <script type="text/javascript" defer="defer">
            history.pushState({'alert': true}, document.title, window.location.pathname);
        </script>
        <h3 class="alert alert-{% getAlertType request %}">
            <i class="fas alert-icon fa-{% getAlertIcon request %}"></i>
            {{ alert }}
        </h3>
    {% endif %}



    <h1 class="adminHeader">{% block adminHeader %}{% action "back" back_link "fa-arrow-left" "h2" %}
        {{ verb }} {{ viewSet.displayName|title }}{% if plural %}s{% endif %}
        <div class="additionalNavigation">{{ additionalNavigationButtons }}</div>{% endblock %}
    </h1>


    <div class="adminContent">
        {% block adminContent %}
            <h1>This html file is meant to be inherited, please don't render the base version!</h1>
        {% endblock %}
    </div>

{% endblock %}