{% extends 'base.html' %}

{% block meta %}
    <title>Berks Dental Assistants: Admin</title>
    <meta name="description" content="Berks Dental Assistants' Admin Section.">
{% endblock %}

{% load adminTags %}

{% block links %}
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static "admin/base.css" %}">
    {% block adminLinks %}{% endblock %}
{% endblock %}

{% block content %}

    {% getAlert request as alert %}
    {% if alert %}
        <script type="text/javascript" defer="defer">
            history.pushState({'alert': true}, document.title, window.location.pathname);
        </script>
        <h3 class="alert alert-{% getAlertType request %}">
            <i class="fas alert-icon fa-{% getAlertIcon request %}"></i>
            {{ alert }}
        </h3>
    {% endif %}



    <h1 class="admin-header">{% if back_link %}{% action "back" back_link "fa-arrow-left" "h2" %}{% endif %}
        {% block adminHeader %}
            {{ verb }} {{ viewSet.displayName|title }}{% if plural %}s{% endif %}{% endblock %}
        <span class="additional-navigation">{% block additionalNavigation %}{% endblock %}{% if help_link %}&nbsp;
            {% action "Help" help_link "fa-question-circle" "h2" False True %}{% endif %}</span>
    </h1>


    <div class="admin-content">
        {% block adminContent %}
            <h1>This html file is meant to be inherited, please don't render the base version!</h1>
        {% endblock %}
    </div>

{% endblock %}