{% extends 'base.html' %}
{% comment %}
    This file is used as a base for all admin pages, it loads common css and js, and provides navigation
    It also allows for alerts, which come from the GET parameters of a request
{% endcomment %}
{% block meta %}
    <title>Berks Dental Assistants: Admin</title>
    <meta name="description" content="Berks Dental Assistants' Admin Section.">
{% endblock %}
{% load adminTags %}
{% block head %}
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static "admin/base.css" %}">
    <script type="text/javascript" defer="defer">
        $(document).ready(() => {
            $(".close-alert-button").click(() => {
                $(".alert-box").remove();
            });
        });
    </script>
    {% block adminHead %}{% endblock %}
{% endblock %}
{% block header %}
    <div class="hero is-small">
        <div class="hero-body">
            <h1 class="has-text-centered">
                {% block adminHeader %}
                    {{ verb }} {{ viewSet.displayName|title }}{% if plural %}s{% endif %}
                {% endblock %}
            </h1>
        </div>
    </div>
    <nav class="admin-navigation">
        <div class="main-admin-navigation">
            {% if back_link %}
                <a href="{{ back_link }}" aria-label="Back"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            {% if not hide_home %}
                <a class="home-link" href="{% url "edit:admin_home" %}" aria-label="Home"><i
                        class="fas fa-home"></i></a>
            {% endif %}
            {% if help_link %}
                <a href="{{ help_link }}" target="_blank" aria-label="Help"><i class="fas fa-question-circle"></i></a>
            {% endif %}
        </div>
        {% block additionalNavigation %}{% endblock %}
    </nav>
{% endblock %}
{% block content %}
    {% getAlert request as alert %}
    {% if alert %}
        <div class="alert-box">
            <script type="text/javascript" defer="defer">
                $(document).ready(() => {
                    history.pushState({'alert': true}, document.title, window.location.pathname);
                });
            </script>
            <div class="alert alert-{% getAlertType request %}">
                <i class="fas alert-icon fa-{% getAlertIcon request %}"></i>
                <p>{{ alert }}</p>
                <button aria-label="Close Alert" class="close-alert-button"><i class="fas fa-times"></i></button>
            </div>
        </div>
    {% endif %}
    <div class="admin-main">
        {% block adminContent %}
            <h1>This html file is meant to be inherited, please don't render the base version!</h1>
        {% endblock %}
    </div>
{% endblock %}