{% extends 'base.html' %}

{% block links %}

    <style>

        ul {
            list-style: none;
        }

        a {
            color: blue;
            text-decoration: none;
        }

        .actions {
            display: flex;
            flex-wrap: wrap;
            margin: 24px 24px 0 24px;
        }

        .action {
            {#border: black 1px solid;#}
            width: 450px;
            box-shadow: 4px 4px 18px -2px rgba(0,0,0,0.5);
            margin-right: 30px;
            margin-bottom: 30px;
            border-radius: 15px;
            transition: background-color 0.10s linear;
        }

        .action:hover {
            background-color: #f2f2f2;
        }

        .action:hover .action_thumbnail {
            background-color: #ccc;
        }

        .action_thumbnail {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f2f2f2;
            height: 300px;
            transition: background-color 0.10s linear;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .action_thumbnail i {
            color: #5b5b5b;
            font-size: 150px;
        }

        .action_name {
            margin: 10px 2px;
            text-align: center;
        }

    </style>

{% endblock %}

{% block content %}

    <h1>Welcome, {{ user.username }}</h1>

    <section class="actions">
        <a href="{% url "main:home" %}" class="action">
            <div class="action_thumbnail">
                <i class="fas fa-eye"></i>
            </div>
            <h3 class="action_name">View Site</h3>
        </a>
        {% for vs in viewsets %}
        <a href="{{ vs.overview_link }}" class="action">
            <div class="action_thumbnail">
                <i class="fas {{ vs.pictureClass }}"></i>
            </div>
            <h3 class="action_name">{{ vs.displayName }}s</h3>
        </a>
        {% endfor %}
        <a href="{% url "edit:logout" %}" class="action">
            <div class="action_thumbnail">
                <i class="fas fa-sign-out-alt"></i>
            </div>
            <h3 class="action_name">Logout</h3>
        </a>
        <a href="#" class="action">
            <div class="action_thumbnail">
                <i class="fas fa-question-circle"></i>
            </div>
            <h3 class="action_name">Help</h3>
        </a>
        {% if debug %}
        <a target="_blank" href="/debug_admin/" class="action">
            <div class="action_thumbnail">
                <i class="fas fa-code"></i>
            </div>
            <h3 class="action_name">Debug</h3>
        </a>
        {% endif %}
    </section>

{% endblock %}