{% comment %}
    This file is meant to be inherited in order to show a list of objects in the database.
{% endcomment %}
{% extends 'base.html' %}


{% block content %}
    <h1>View/Edit {{ modelName|title }}s</h1>
    <div id="objects">
        {% block objectTable %}
            <h1>This html file is meant to be inherited! Please don't render the base version!</h1>
        {% endblock %}
    </div>
    <ul id="universalActions">
        <li><a href="/admin/edit/{{ modelName }}">Add</a></li>
        <li><a href="/admin/">Back</a></li>
    </ul>
{% endblock %}