{% extends 'base_object_view.html' %}
  
{% block objectTable %}

<table style="border: 1px black solid;">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Start Time - End Time</th>
  </tr>
  {% for event in events %}
  <tr>
    <td>{{ event.name }}</td>
    <td>{{ event.location }}</td>
    <td>{{ event.startTime }} - {{ event.endTime }}</td>
    <td><a href="/admin/edit/event?id={{ event.id }}">Edit</a></td>
    <td><a href="/admin/delete/event?id={{ event.id }}">Delete</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}