.hero-body {
    padding-left: 0;
    padding-right: 0;
}

.hero-title {
    position: relative;
    top: 7vh;
    width: 100%;
    padding: 48px;
    background-color: rgba(140,191,63,0.8);
}

.no-top-padding {
    padding-top: 0;
}

@media only screen and (max-width: 768px) {
    .no-top-padding-mobile {
        padding-top: 0;
    }
}

.link-icon {
    font-size: 12px;
}

.upcoming-events {
    background-color: var(--ac-light);
}

.upcoming-events .columns {
    align-items: stretch;
}

.upcoming-events .card {
    height: 100%;
}