.hero-body {
    background-image: linear-gradient(25deg, var(--ac1), 5%, whitesmoke, 95%, var(--clr1));
}

@media only screen and (min-width: 1200px) {
    .hero-body {
        background-image: linear-gradient(25deg, whitesmoke, 80%, transparent),
        url('../tests/hero-test.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.landing-header-top {
    color: var(--ac2);
    font-size: 4rem;
    line-height: 0.9em;
    margin: 0.6em 0;
}

.landing-header-bottom {
    color: var(--clr2);
    font-size: var(--h2);
    margin: 0;
}

.link-icon {
    font-size: var(--h6);
}

.panel-heading {
    margin-bottom: 0;
}

.upcoming-events {
    background-color: var(--ac1);
}