.admin-navigation {
    display: flex;
    padding: 1em;
    gap: 0.5em;
    background-color: #fafafa;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.admin-navigation > *:last-child {
    margin-left: auto;
}

.home-link {
    margin-left: auto;
}

.main-admin-navigation {
    gap: 0.5em;
    display: flex;
    width: 100%;
}

.alert-box {
    background-color: #fafafa;
    padding: 0 1em 1em;
}

.alert {
    display: flex;
    align-items: center;
    padding: 1em;
    border: solid 3px;
    border-radius: 15px;
    gap: 1em;
}

.close-alert-button {
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
    font-size: var(--h4);
    align-self: flex-start;
}

.alert-error {
    color: #c40000;
    border-color: #c40000;
    background-color: #e38282;
}

.alert-warning {
    color: #878700;
    border-color: #878700;
    background-color: #ffff74;
}

.alert-info {
    color: #0071ae;
    border-color: #0071ae;
    background-color: skyblue;
}

.alert-success {
    color: #147914;
    border-color: #147914;
    background-color: lightgreen;
}