:root {
    --red-color: #e33434;
    --green-color: #2eb72e;
    --default-hover-color: #23B7D9;
    --color-transition-time: 100ms;
    --hover-transition: color var(--color-transition-time) linear;
    --hover-bg-transition: background-color var(--color-transition-time) linear;
}

.main {
    display: flex;
    flex-direction: column;
}

.alert {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 15px 25px -23px;
    border: solid 3px;
    border-radius: 15px;
}

.alert > p {
    color: black;
}

.alert > * {
    margin: 0 10px;
}

.close-alert-button {
    border: none;
    background-color: unset;
    margin-left: auto;
    color: #262626;
    font-size: 1em;
    cursor: pointer;
}

.alert-error {
    color: #c40000;
    border-color: #c40000;
    background-color: #e38282;
}

.alert-warning {
    color: #878700;
    border-color: #878700;
    background-color: #ffff74;
}

.alert-info {
    color: #0071ae;
    border-color: #0071ae;
    background-color: skyblue;
}

.alert-success {
    color: #147914;
    border-color: #147914;
    background-color: lightgreen;
}

.admin-navigation {
    display: flex;
    margin: 25px 25px 12px;
}

.navigation-action {
    color: #353b31;
    transition: var(--hover-transition);
}

.navigation-action:hover {
    color: var(--default-hover-color);
}

.home {
    margin-left: auto;
    margin-right: 10px;
}

.help {
    display: initial;
    font-size: 1em;
    margin-top: 0;
}

.admin-header {
    display: flex;
    justify-content: flex-end;
    margin: 0 25px 25px;
}

.admin-header p {
    margin-right: auto;
}