.form {
    --text-size: 20px;
    --help-error-text-size: calc(var(--text-size) - 5px);
}

.errorList {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: var(--help-error-text-size);
}

.error {
    color: #ff0000;
}

.hiddenField {
    display: none;
}

input, textarea {
    padding: 6px 8px;
}

input[type="file"] {
    padding: 0;
}

@media only screen and (max-width: 700px) {

    input, textarea {
        width: 100%;
        box-sizing: border-box;
    }

    .field-label {
        margin-bottom: 5px;
    }

}

input, textarea, .field-label {
    font-size: var(--text-size);
}

.field-label {
    display: inline-block;
    user-select: none;
    font-weight: bold;
    vertical-align: top;
    width: 250px;
    padding-top: 6px;
}

.field-label.checkbox-label {
    display: inline;
    width: unset;
    padding-top: 0;
}

.passwordHelp {
    padding-left: 0;
}

textarea {
    resize: none;
}

fieldset {
    padding: 2vh;
    border: none;
    border-top: solid 1px var(--ac-grey);
}

fieldset:last-of-type {
    margin-bottom: 20px;
    border-bottom: solid 1px var(--ac-grey);
}

input[type="checkbox"] {
    width: calc(var(--text-size) - 2px);
    height: calc(var(--text-size) - 2px);
    vertical-align: center;
}

.submit-button {
    width: 100%;
    transition: var(--hover-bg-transition);
    background-color: var(--ac-light);
    border: solid 2px var(--ac-grey);
    border-radius: 7px;
    font-size: var(--h2);
}

.submit-button:hover {
    background-color: var(--ac-light-grey);
}

@keyframes load-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    animation: load-spin 2s 0s linear infinite;
    font-size: var(--h3);
}

.hidden {
    display: none;
}

.help-text {
    font-size: var(--help-error-text-size);
    margin-bottom: 0;
}