.form {
    --text-size: 20px;
    --help-error-text-size: calc(var(--text-size) - 5px);
}

.errorList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    font-size: var(--help-error-text-size);
}

.error {
    color: #ff0000;
}

.hiddenField {
    display: none;
}

input, textarea, .fieldLabel {
    font-size: var(--text-size);
}

.fieldLabel {
    margin-bottom: 20px;
    margin-right: 20px;
    user-select: none;
    font-weight: bold;
    vertical-align: top;
}

textarea {
    resize: none;
}

fieldset {
    padding: 2vh;
    border: none;
    border-top: solid 1px var(--ac-grey);
}

fieldset:last-of-type {
    margin-bottom: 20px;
    border-bottom: solid 1px var(--ac-grey);
}

input[type="checkbox"] {
    width: calc(var(--text-size) - 2px);
    height: calc(var(--text-size) - 2px);
    vertical-align: center;
}

.submitButton {
    width: 100%;
    background-color: var(--ac-light-grey);
    border: solid var(--ac-grey);
    font-size: var(--h2);
}

@keyframes loadSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    animation: loadSpin 2s 0s linear infinite;
    font-size: var(--h3);
}

.hidden {
    display: none;
}

.help-text {
    font-size: var(--help-error-text-size);
    margin-bottom: 0;
}