.form {
    --text-size: 20px;
    --help-error-text-size: calc(var(--text-size) - 5px);
    display: flex;
    flex-direction: column;
}

.error-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: var(--help-error-text-size);
}

.error {
    color: #ff0000;
}

input, textarea, select {
    padding: 6px 8px;
}

select {
    width: 260px;
}

input[type="file"] {
    padding: 0;
}

input, textarea, .field-label, select {
    font-size: var(--text-size);
}

.field-label {
    display: inline-block;
    user-select: none;
    font-weight: bold;
    vertical-align: top;
    width: 250px;
    padding-top: 6px;
}

.help-text, .error-list {
    margin-left: 274px;
}

.field-label.checkbox-label {
    display: inline;
    width: unset;
    padding-top: 0;
}

textarea {
    resize: none;
}

.field-div {
    padding: 2vh;
    border-top: 1px rgba(128, 128, 128, 0.8) solid;
}

.field-div:last-of-type {
    margin-bottom: 20px;
    border-bottom: 1px rgba(128, 128, 128, 0.8) solid;
}

input[type="checkbox"] {
    width: calc(var(--text-size) - 2px);
    height: calc(var(--text-size) - 2px);
    margin-left: 274px;
    vertical-align: middle;
}

.submit-button {
    padding: 3px 15px;
    transition: var(--hover-bg-transition);
    background-color: #C4E5F2;
    border: solid 2px #9ba7ac;
    border-radius: 7px;
    width: calc(100% - 200px);
    margin: auto;
}

.submit-button:hover {
    background-color: #bcd8dc;
}

.submit-button:hover:disabled {
    background-color: #C4E5F2;
}

@media only screen and (max-width: 700px) {

    input, textarea, select {
        width: 100%;
        box-sizing: border-box;
    }

    .field-label {
        margin-bottom: 5px;
    }

    .submit-button {
        width: 99%;
        margin: 5px;
    }

    input[type="checkbox"], .help-text, .error-list{
        margin: 0;
    }

}

@keyframes load-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    animation: load-spin 2s 0s linear infinite;
    color: #353b31;
}

.hidden {
    display: none;
}

.help-text {
    font-size: var(--help-error-text-size);
    margin-bottom: 0;
    user-select: none;
}