form {
    margin: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 250px) {
    form {
        align-items: flex-start;
    }
}

form > * {
    margin: calc(5px + 1vh) 0;
}

form > div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.checkbox_c {
    flex-direction: row;
    align-items: center;
}

.checkbox_c * {
    margin: 0 4px;
}

@media only screen and (min-width: 769px) {
    form > div {
        flex-direction: row;
        align-items: center;
    }
}

form button {
    font-size: 15px;
}

@keyframes load-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    animation: load-spin 2s 0s linear infinite;
}

.hidden {
    display: none;
}