form, .form-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
}

form {
    margin: 5em;
}

.field-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3em;
}

.checkbox_c {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.checkbox_c input, .checkbox_c .help-text {
    position: relative;
    top: 0.1em;
}

#Permissions_label {
    font-size: var(--h2);
}

.help-text {
    font-size: var(--h5);
}

.checkbox_c .help-text {
    order: 1;
}

textarea {
    resize: none;
    min-height: 20vh;
}

.error-list {
    color: #c40000;
}

.dental-button {
    margin-top: 0.5em;
}

.hidden {
    display: none;
}