.actions {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
}

.action {
    margin: 1em;
    border-radius: 15px;
    flex-basis: 25em;
    flex-grow: 1;
    flex-direction: column;
    box-shadow: 4px 4px 18px -2px rgba(0, 0, 0, 0.5);
    transition: var(--color-transition);
    min-height: 200px;
}

.action:hover {
    background-color: #bcd8dc;
}

.action-thumbnail {
    flex-grow: 1;
    align-self: stretch;
    transition: var(--color-transition);
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 1em;
}

.action:hover .action-thumbnail {
    background-color: #9ba7ac;
}

.action-thumbnail i {
    color: #353b31;
    font-size: calc(6em + 3vw);
    transition: var(--color-transition);
}

.action-name {
    padding: 0.25em 0;
    font-size: calc(1.5em + 0.5vw);
    transition: var(--color-transition);
    color: #353b31;
}

.action:hover .action-thumbnail i, .action:hover .action-name {
    color: #0d7385;
}