form {
    margin-top: 2vw;
}

form > div {
    align-items: stretch;
    flex-direction: column;
    width: 100%;
}

.field-label {
    text-align: left;
}

.sort_list {
    list-style: none;
    padding: 0;
}

.sort-target {
    box-shadow: grey 0 1px 2px;
    padding: 0;
    user-select: none;
    width: 100%;
    margin: 5px;
}

.help-text {
    margin-left: 0;
}

.handle {
    margin: 0 10px;
    color: grey;
    cursor: grab;
}

.ghost-sort-target {
    background-color: var(--ac1);
}