form {
    margin-top: 2vw;
}

form > div {
    align-items: stretch;
    flex-direction: column;
    width: 100%;
}

.field-label {
    text-align: left;
}

.sort_list {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
}

.sort-target {
    box-shadow: grey 0 1px 2px;
    margin: 5px auto;
    padding: 0;
    user-select: none;
    width: calc(100% - 250px);
}

.help-text {
    margin-left: 0;
}

@media only screen and (max-width: 700px) {

    .sort-target {
        width: 99%;
        margin: 5px;
    }

}

.handle {
    margin: 0 10px;
    color: grey;
    cursor: grab;
}

.ghost-sort-target {
    background-color: var(--ac-light);
}