.page-navigation {
    display: flex;
    gap: 0.5em;
    margin-left: auto;
}

.admin-main {
    display: grid;
    margin: 1.5em;
    text-align: center;
    gap: 0.8em 2em;
    overflow-x: auto;
}

.view-header {
    grid-row: 1 / 2;
}

.empty-notification {
    grid-column: 1 / -1;
}

.action-links {
    display: flex;
    justify-content: center;
    gap: 0.8em;
}

.fa-check-circle {
    color: #2eb72e;
}

.fa-times-circle {
    color: #e33434;
}

.disabled {
    color: var(--gr-clr)!important;
    cursor: default;
}

/*.table-container {
    width: 100%;
    overflow-x: auto;
}

.model-table {
    --normal-color: white;
    --shaded-color: #f6f6f6;
    --header-color: var(--ac-light);
    --row-border-color: darkgrey;
    --text-color: var(--clr-header);
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.model-table thead {
    background-color: var(--shaded-color);
    user-select: none;
}

.model-table .header-row {
    background-color: var(--header-color);
}

.model-table .shaded {
    background-color: var(--shaded-color);
}

.model-table .normal {
    background-color: var(--normal-color);
}

.model-table td, .model-table th {
    font-size: var(--h5);
    color: var(--text-color);
    padding: 1vh 2vw;
    white-space: nowrap;
}

.bool-icon {
    vertical-align: middle;
}

.model-table thead tr {
    border-bottom: solid 1px var(--row-border-color);
}

.model-table tbody tr {
    border-bottom: solid 1px var(--row-border-color);
}

.empty-notification-row {
    background-color: var(--header-color);
    user-select: none;
}

.link-value {
    text-decoration: underline;
    color: var(--text-color);
}

.action {
    --size: var(--h1);
    --hover-color: var(--defualt-hover-color);
    color: var(--clr-header);
    transition: var(--hover-transition);
    font-size: var(--size);
    vertical-align: middle;
}

.action .fas {
    font-size: var(--size);
}

.action.delete_c:hover {
    --hover-color: var(--red-color);
}

.action:hover {
    color: var(--hover-color);
    filter: none;
}

.add:hover {
    color: var(--green-color);
}

.bottom-bar {
    text-align: right;
}*/