.box.columns {
    margin: 0;
    box-shadow: none;
}

.calendar {
    position: sticky;
    top: 2rem;
    align-self: auto;
    display: grid;
    margin: 0 auto;
    min-width: 17em;
    max-width: calc(100vh - 8em);
    grid-template-columns: repeat(7, 1fr);
}

.calendar-tile {
    box-sizing: border-box;
    position: relative;
    padding-top: 100%;
    border: 1px black solid;
}

.weekday-names {
    color: black;
    font-weight: bold;
    font-size: var(--h5);
    background-color: var(--ac1);
}

.in-month {
    cursor: pointer;
    transition: var(--color-transition);
}

.in-month:hover {
    background-color: var(--clr2);
}

.out-of-month {
    background-color: var(--gr-clr);
}

.has-event {
    background-color: lightblue;
}

.is-today {
    font-weight: bold;
}

.is-selected.calendar-tile {
    background-color: var(--clr1);
}

.is-selected.event-grid {
    display: grid;
}

.d-subtitle.is-selected {
    display: block;
}

.tile-content {
    position: absolute;
    inset: 0;
    user-select: none;
}

.event-descriptions {
    padding: 3em 2em;
}

.title {
    margin-bottom: 0.3em!important;
}

.title, .d-subtitle {
    text-align: center;
}

.d-subtitle, .event-grid {
    display: none;
}

.event-grid {
    padding-top: 3em;
}

@media only screen and (min-width: 800px) {
    .event-grid {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}