.main {
    display: flex;
    flex-direction: column;
}

.hero-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.subtitle.is-link {
    color: #3273dc;
}

.subtitle.is-link:hover {
    text-decoration: underline;
}

.view-switch-link {
    margin: 35px 35px 35px auto;
}