.main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3.25rem);
}

.image-box {
    flex-grow: 1;
    background-color: var(--gr-clr);
}

.image-box img {
    max-height: 50vh;
}

.interaction-box {
    display: flex;
    min-height: 5em;
    background-color: whitesmoke;
}

.interaction-box > * {
    flex-basis: 5em;
}

.info-box {
    flex-direction: column;
    flex-grow: 1;
    gap: 0.3em;
    padding: 0.7em 0;
}