.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 70vmin;
    max-height: 70vmin;
    height: auto;
    width: auto;
    justify-content: center;
}

.info-box {
    margin-top: auto;
    align-self: stretch;
    display: flex;
}