{% extends 'base.html' %}
{% comment %}
    This file is meant to be inherited in order to show a list of objects in the database.
{% endcomment %}


{% block content %}
    <h1>View/Edit {{ viewSet.displayName|title }}s</h1>
    <div id="objects">
        {% block objectTable %}
            <h1>This html file is meant to be inherited! Please don't render the base version!</h1>
        {% endblock %}
    </div>
    <ul id="universalActions">
        <li><a href="{{ viewSet.edit_link }}">Add</a></li>
        {% if viewSet.ordered %}
            <li><a href="{{ viewSet.order_link }}">Re-Order</a></li>
        {% endif %}
        <li><a href="{% url 'admin_home' %}">Back</a></li>
    </ul>
{% endblock %}
