{% extends 'base.html' %}

{% load adminTags %}

{% block links %}

    <style>

        :root {
            --all-margin: 2vw;
        }

        h1.adminHeader {
            margin: var(--all-margin)
        }

        div.adminContent {
            margin: var(--all-margin);
        }

        a.navigationAction {
            color: var(--clr-header);
            transition: color 100ms linear;
        }

        a.navigationAction:hover {
            color: #38abe0;
        }

    </style>

    {% block adminLinks %}


    {% endblock %}

{% endblock %}

{% block content %}

    <h1 class="adminHeader">{% action "back" back_link "fa-arrow-left" "h2" %}  {{ verb }} {{ viewSet.displayName|title }}{% if plural %}s{% endif %}  {{ additionalNavigationButtons }}</h1>

    <div class="adminContent">
        {% block adminContent %}
            <h1>This html file is meant to be inherited, please dont render the base version!</h1>
        {% endblock %}
    </div>

{% endblock %}