{% extends 'base.html' %}
{% comment %}
    This file is used as a confirmation screen to make sure the user wants to delete an object from the database
    We also use the {% csrf_token %} to ensure the deletion was invoked by the user, and not a malicous third-party
{% endcomment %}


{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h1> Delete {{ viewSet.displayName|title }} </h1>
        <h2> Are you sure you want to delete {{ objectName|title }}?</h2>
        <a href="{{ viewSet.overview_link }}">Cancel</a>
        <button type="submit">Confirm</button>
    </form>
{% endblock %}