{% extends 'base.html' %}
{% comment %}
    This file is used to edit an object in the database
    This file will keep being rendered with the required errors until the forms is filled out correctly
    We use the {% csrf_token %} tag to ensure the edit was invoked by the user, and not a malicous third-party
    We loop through every field in the form and render it
    We set the enctype to "multipart/form-data" so files can be uploaded
{% endcomment %}

{% block links %}

    <style>

        .errorList {
            list-style: none;
            padding-left:0;
        }

        .error {
            color: #ff0000;
        }

        .hiddenField {
            display: none;
        }

        .fieldLabel {
            margin-bottom: 20px;
        }

        .changeText {
            font-size: var(--h4);
        }

        input {
            font-size: var(--h4);
        }

    </style>

{% endblock %}

{% block content %}

    {% if new %}
        <h1>Add {{ viewSet.displayName|title }}</h1>
    {% else %}
        <h1>Edit {{ viewSet.displayName|title }}</h1>
    {% endif %}

    {% if form %}

        {{ form.media }}

        {% if form.non_field_errors %}

            <ul id="nonfield_errors" class="errorList">
                {% for error in form.non_field_errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>

        {% endif %}

        <form class="form" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            {% for field in form %}
                <fieldset id="{{ field.label }}_fieldset">
                    {% if field.errors %}
                        <ul class="errorList" id="{{ field.label }}_errors">
                            {% for error in field.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <label for="{{ field.id_for_label }}" class="fieldLabel h4">{{ field.label|title }}</label>
                    {{ field }}
                </fieldset>
            {% endfor %}

            <button type="submit">Save</button>

        </form>

    {% endif %}

    <a href="{{ viewSet.overview_link }}">Back</a>

{% endblock %}