{% extends 'admin_base.html' %}
{% comment %}
    This file is used as a base for all forms
    As long as a Form object is passed, this file can generate all neccessary html
    It allows for you to override certain texts (like the text inside the submit button) for better UX
{% endcomment %}
{% block adminLinks %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/form.css" %}">
    <script type="text/javascript" src="{% static "admin/form.js" %}"></script>

    {{ form.media }}

{% endblock %}

{% block adminContent %}

    {% load adminTags %}

    {% if form %}

        {% if form.non_field_errors %}

            <ul id="nonfield_errors" class="error-list">
                {% for error in form.non_field_errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>

        {% endif %}
        <form class="form" method="POST" {% if form|needs_multi_part %}enctype="multipart/form-data"{% endif %}>

            {% csrf_token %}
            {% for field in form %}
                <fieldset id="{{ field.label }}_fieldset">
                    {% if field.errors %}
                        <ul class="error-list" id="{{ field.label }}_errors">
                            {% for error in field.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if field|is_checkbox %}
                        {{ field }}
                        <label id="{{ field.label }}_label" for="{{ field.id_for_label }}"
                               class="field-label h4 checkbox-label">{{ field.label|title }}</label>
                    {% else %}
                        <label id="{{ field.label }}_label" for="{{ field.id_for_label }}"
                               class="field-label h4">{{ field.label|title }}:</label>
                        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <p id="{{ field.label }}_help-text" class="help-text">{{ field.help_text|safe }}</p>
                    {% endif %}
                </fieldset>
            {% endfor %}

            <button class="submit-button" type="submit"><span class="submit-word">{% block submitWord %}
                Save{% endblock %}</span>&nbsp;<i class="loading hidden fas fa-circle-notch"></i></button>

        </form>

    {% else %}

        <h1>No Form Object Passed!</h1>

    {% endif %}

{% endblock %}