{% extends 'base.html' %}

{% block links %}
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script crossorigin="anonymous"
            src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <script defer type="text/javascript">

        $(document).ready(() => {
            /**
             * This event handles three things
             * 1. Setup the sortable (drag & drop) on the sort_list element
             * 2. setup the form to read the order of the lis in the sort_list element and send it ot the backend
             * 3. If there's no items in the database, we disable the save button
             */

            $("#sort_list").sortable({
                'animation': 150,
                'ghostClass': "ghostSortTarget",
                'filter': ".emptyNotification",
                'handle': ".handle"
            });

            if ($(".emptyNotification").length === 0) {

                $("#order_form").submit(() => {

                    let new_order = [];
                    $(".sortTarget").each((index, list_item) => {

                        new_order.push($(list_item).attr("id"));

                    });

                    $("#new_order").val(new_order.join(","));

                });
            } else {

                $("#submit").prop("disabled", true);

            }

        });

    </script>

    <style>

        #sort_list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .sortTarget {
            border: grey 2px solid;
            margin: 10px 5px;
            padding: 0;
            font-size: var(--h5);
            user-select: none;
            width: 35vw;
        }

        .ghostSortTarget {
            background-color: skyblue;
        }

        .handle {
            margin: 0 10px;
            color: grey;
        }

        .handle:hover {
            cursor: grab;
        }

    </style>

{% endblock %}

{% block content %}

    <h1 style="margin-bottom:3px;">Re-Order {{ viewSet.displayName|title }}s</h1>
    <p style="margin-top:5px;">Click on an item and drag it to re-order</p>

    {% if error %}
        <h3 style="color:red;">{{ error }}</h3>
    {% endif %}

    <ul id="sort_list">
        {% for object in objects %}
            <li id="{{ object.id }}" class="sortTarget"><i class="handle fas fa-grip-lines"></i>{{ object }}</li>
        {% empty %}
            <li class="emptyNotification">No {{ viewSet.displayName|title }}s in the database</li>
        {% endfor %}
    </ul>

    <form method="post" id="order_form">
        {% csrf_token %}
        <input type="hidden" name="new_order" id="new_order"/>
        <button type="submit" id="submit">Save</button>
    </form>

    <a href="{{ viewSet.overview_link }}">Back</a>

{% endblock %}