{% extends 'admin_base.html' %}

{% block adminLinks %}
    {% load static %}
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script crossorigin="anonymous"
            src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <script defer type="text/javascript" src="{% static "admin/order.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "admin/order.css" %}">

{% endblock %}

{% block adminContent %}

    {% if error %}
        <h3 style="color:red;">{{ error }}</h3>
    {% endif %}

    <ul id="sort_list">
        {% for object in objects %}
            <li id="{{ object.id }}" class="sortTarget"><i class="handle fas fa-grip-lines"></i>{{ object }}</li>
        {% empty %}
            <li class="sortTarget emptyNotification">No {{ viewSet.displayName|title }}s in the database</li>
        {% endfor %}
    </ul>

    <form method="post" id="order_form">
        {% csrf_token %}
        <input type="hidden" name="new_order" id="new_order"/>
        <button class="submit" type="submit" id="submit">Save</button>
    </form>

{% endblock %}