{% extends 'db/base_object_view.html' %}
  
{% block objectTable %}

    <td><a href="{% url 'link_order' %}">Re-Order Links</a></td>

<table style="border: 1px black solid;">
  <tr>
    <th>Name</th>
    <th>URL</th>
  </tr>
  {% for link in links %}
  <tr>
    <td>{{ link.display_name }}</td>
    <td>{{ link.url }}</td>
    <td><a href="{% url 'link_edit' %}?id={{ link.id }}">Edit</a></td>
    <td><a href="{% url 'link_delete' %}?id={{ link.id }}">Delete</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}