{% extends 'admin_base.html' %}
{% comment %}
    This file is used to view a table that shows all objects in the database
    This template expects a list of headers in the headers variable
    and a nested list of each objects values in the objects variable
    The last value of each nested list is the objects id, so that way we can create teh Edit and Delete links
    We also set the first property to be bold to help with the visuals of the table
{% endcomment %}
{% load static %}

{% block adminLinks %}

    <style>

        table {
            border-collapse: collapse;
            text-align: center;
        }

        a.action {
            font-size: var(--h6);
        }

        table tr {
            border: var(--clr-header) 1px solid;
        }

        table tr td, table tr th {
            border: var(--clr-header) 1px solid;
            padding: 1vh 2vw;
        }

        a.action {
            color: var(--clr-header);
            transition: var(--hover-transition);
        }

        td.value {
            color: var(--clr-header);
        }

        th.header {
            color: var(--clr-header);
        }

        a.edit:hover {
            color: var(--ac-dark);
        }

        a.delete:hover {
            color: var(--red-color);
        }

        i.fa-check-circle {
            color: var(--green-color);
        }

        i.fa-times-circle {
            color: var(--red-color);
        }

        a.add:hover {
            color: var(--green-color);
        }

    </style>

{% endblock %}

{% block adminContent %}
    {% load adminTags %}

    <table>
        <tr>
            {% if objects|length > 0 %}
                {% for header in headers %}
                    <th class="header">{{ header|title }}</th>
                {% endfor %}
                {% if canEdit %}
                    <th class="header" colspan="{{ viewSet.additionalActions|length|add:2 }}">Actions</th>
                {% endif %}
            {% endif %}
        </tr>

        {% for object in objects %}
            <tr>
                {% for value in object %}
                    {% if forloop.first %}
                        <td class="value"><b>{{ value|safe|default:"Not Entered" }}</b></td>
                    {% elif forloop.last %}
                        {% if canEdit %}
                            <td><a class="action edit" href="{{ viewSet.edit_link }}?id={{ value }}"><i
                                    class="fas fa-edit fa-lg"></i></a></td>
                            {% for action in viewSet.additionalActions %}
                                <td><a class="action edit" href="{{ action.link }}?id={{ value }}"><i
                                        class="fas {{ action.icon }} fa-lg"></i></a></td>
                            {% endfor %}
                            <td><a class="action delete" href="{{ viewSet.delete_link }}?id={{ value }}"><i
                                    class="fas fa-trash fa-lg"></i></a></td>
                        {% endif %}
                    {% else %}
                        <td class="value">{{ value|safe|default:"Not Entered" }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% empty %}
            <tr>
                <td>No {{ viewSet.displayName|title }}s In The Database</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}