{% extends 'db/base_object_view.html' %}

{% block objectTable %}

<table style="border: 1px black solid;">
  <tr>
    <th>Service</th>
    <th>Link</th>
  </tr>
  {% for social in social_media_pages %}
    <tr>
      <td>{{ social.service_label }}</td>
      <td><a href="{{ social.link }}">{{ social.link }}</a></td>
      <td><a href="{% url 'social_media_page_edit' %}?id={{ social.id }}">Edit</a></td>
      <td><a href="{% url 'social_media_page_delete' %}?id={{ social.id }}">Delete</a></td>
    </tr>
  {% endfor %}
</table>

{% endblock %}