{% extends 'admin_base.html' %}
{% comment %}
    This file is used to view a table that shows all objects in the database
    This template expects a list of headers in the headers variable
    and a nested list of each objects values in the objects variable
    The last value of each nested list is the objects id, so that way we can create teh Edit and Delete links
    We also set the first property to be bold to help with the visuals of the table
{% endcomment %}
{% load static %}

{% block adminLinks %}

    <style>

        div.tableContainer {
            width: 100%;
            overflow-x: auto;
        }

        table.modelTable {
            --normal-color: white;
            --shaded-color: var(--ac-light-grey);
            --row-border-color: grey;
            --text-color: var(--clr-header);
            border-collapse: collapse;
            text-align: center;
            width: 100%;
        }

        table.modelTable > thead {
            background-color: var(--shaded-color);
        }

        table.modelTable > tbody tr.shaded {
            background-color: var(--shaded-color);
        }

        table.modelTable > tbody tr.normal {
            background-color: var(--normal-color);
        }

        table.modelTable td, table.modelTable th {
            font-size: var(--h5);
            color: var(--text-color);
            padding: 1vh 2vw;
        }

        table.modelTable > thead > tr {
            border-bottom: solid 2px var(--row-border-color);
            border-top: solid 2px var(--row-border-color);
        }

        table.modelTable > tbody > tr {
            border-bottom: solid 1px var(--row-border-color);
        }

        a.action {
            --size: var(--h1);
            --hover-color: var(--ac);
            color: var(--clr-header);
            transition: var(--hover-transition);
            font-size: var(--size);
        }

        a.action > i.fas {
            font-size: var(--size);
        }

        a.action.delete:hover {
            --hover-color: var(--red-color);
        }

        a.action-fa-key {
            --hover-color: #c6c620;
        }

        a.action:hover {
            color: var(--hover-color);
            filter: none;
        }

        a.add:hover {
            color: var(--green-color);
        }

        i.fa-check-circle {
            color: var(--green-color);
        }

        i.fa-times-circle {
            color: var(--red-color);
        }

    </style>

{% endblock %}

{% block adminContent %}

    {% load adminTags %}

    <div class="tableContainer">
        <table class="modelTable">
            <thead>
                <tr class="shaded">
                    {% if objects|length > 0 %}
                        {% for header in headers %}
                            <th>{{ header|title }}</th>
                        {% endfor %}
                        {% if canEdit %}
                            <th colspan="{{ viewSet.additionalActions|length|add:2 }}">Actions</th>
                        {% endif %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                    <tr class="{% cycle "normal" "shaded" %}">
                        {% for value in object %}
                            {% if forloop.first %}
                                <td><b>{{ value|safe|default:"Not Entered" }}</b></td>
                            {% elif forloop.last %}
                                {% if canEdit %}
                                    <td><a aria-label="Edit {% getPrimaryValue object %}" class="action edit"
                                           href="{{ viewSet.edit_link }}?id={{ value }}"><i
                                            class="fas fa-edit"></i></a></td>
                                    {% for action in viewSet.additionalActions %}
                                        <td><a aria-label="{{ action.name }} {% getPrimaryValue object %}"
                                               class="action action-{{ action.icon }}"
                                               href="{{ action.link }}?id={{ value }}"><i
                                                class="fas {{ action.icon }}"></i></a></td>
                                    {% endfor %}
                                    <td><a aria-label="Delete {% getPrimaryValue object %}" class="action delete"
                                           href="{{ viewSet.delete_link }}?id={{ value }}"><i
                                            class="fas fa-trash"></i></a></td>
                                {% endif %}
                            {% else %}
                                <td>{{ value|safe|default:"Not Entered" }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr>
                        <td>No {{ viewSet.displayName|title }}s In The Database</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}