:root {
    --clr-light: #C3D9A3;
    --clr: #8CBF3F;

    --ac-light: #C4E5F2;
    --ac: #23B7D9;

    --clr-text: #75B232;
    --clr-header: #197F00;
    --clr-bg: #fafafa;
}

body {
    width: 100vw;
    margin: 0px;
    overflow-x: hidden;
}

header {
    --nav-height: 80px;
}

.nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: var(--nav-height);
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: black 0px -3px 15px 0px;
}

.nav-placeholder {
    height: var(--nav-height);
}

.nav-img {
    max-height: calc(var(--nav-height) - 30px);
}

.nav-link-container {
    position: fixed;
    top: var(--nav-height);
    left: 0px;
    right: 0px;
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
}

.nav-link-container.show {
    overflow: hidden scroll;
}

.nav-link {
    position: relative;
    left: 150vw;
    width: 100%;
    padding: 7.5vh 0px;
    border-bottom: black 2px solid;
    text-align: center;
    font-size: var(--h2);
    text-decoration: none;
    background-color: #bfbfbf;
    transition: left 550ms linear;
}