@media only screen and (min-width: 1000px) {
    .nav-link-container {
        position: static;
        width: 75%;
        height: unset;
        margin-left: auto;
        flex-direction: row;
        justify-content: space-around;
        overflow-y: initial;
        background-color: unset;
        transition: unset;
    }

    .nav-link {
        width: unset;
        padding: unset;
        font-size: var(--h3);
        border-bottom: unset;
    }

    .nav-button {
        display: none;
    }
}