{% extends 'base.html' %}
{% comment %}
    This html file defines what the user will see in case they enter an area where they're not supposed to
    The file will only be displayed if DEBUG = False in settings, otherwise a stack trace will be shown
{% endcomment %}
{% block meta %}
    <title>Berks Dental Assistants: Access Denied</title>
    <meta name="description" content="Berks Dental Assistants 403 Page.">
{% endblock %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/errors.css' %}" />
{% endblock %}
{% block content %}
    <h1 class="title">403 - Access Denied</h1>
    <p class="subtitle">You do not have sufficient permissions to view the page you requested.</p>
{% endblock %}