{% extends 'base.html' %}
{% comment %}
    This html file defines what the user will see in case the server encounters an error
    The file will only be displayed if DEBUG = False in settings, otherwise a stack trace will be shown
{% endcomment %}
{% block meta %}
    <title>Berks Dental Assistants: Internal Server Error</title>
    <meta name="description" content="Berks Dental Assistants' 500 Page.">
{% endblock %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/errors.css' %}" />
{% endblock %}
{% block content %}
    <h1 class="title">500 - Internal Server Error</h1>
    <p class="subtitle">The server had an internal issue when processing your request.</p>
{% endblock %}