{% extends 'base.html' %}
{% block meta %}
    <title>Berks Dental Assistants: About</title>
    <meta name="description" content="Berks Dental Assistants' About Page.">
{% endblock %}
{% block links %}
    <style>

        .header-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 40px;
            background-color: var(--clr-light);
        }

    </style>
{% endblock %}
{% block header %}
    <h1> About Us </h1>
{% endblock %}
{% block content %}


{% endblock content %}}