{% extends 'base.html' %}
{% comment %}
    This file is used to show the events for a month and year in a calendar
{% endcomment %}
{% block meta %}
    <title>Berks Dental Assistants: Events</title>
    <meta name="description" content="Berks Dental Assistants' Events Page.">
{% endblock %}
{% block links %}
    {% load static %}
    <link href="{% static "/events/shared.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "/events/list.css" %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block header %}
    <div class="hero is-medium">
        <div class="hero-body">
            <a href="{{ previous_link }}"><i class="is-size-4 icon fas fa-arrow-alt-circle-left"></i></a>
            <div>
                <h1 class="title hero-title has-text-centered">{{ month_name }} {{ year }}</h1>
                <a class="is-link subtitle" href="{% url "main:events" %}?view=list">View As List</a>
            </div>
            <a href="{{ next_link }}"><i class="is-size-4 icon fas fa-arrow-alt-circle-right"></i></a>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% load eventTags %}
    <div class="calendar">
    {% for day in weekdays %}
        <div class="calendar-tile calendar-weekday"><p class="tile-content">{{ day }}</p></div>
    {% endfor %}
        {% for week in weeks %}
            {% for day in week %}
                {% makeDateObj as date %}
                {% getEventsOnDate as eventsOnThisDate %}
                <div class="calendar-tile {% if eventsOnThisDate|length > 0 %}calendar-event{% endif %} {% if date == today %}calendar-today focused-tile{% endif %} {% if day == 0 %}out-of-month{% endif %}">
                    {% if day != 0 %}
                        <p class="tile-content">{{ day }}</p>
                    {% endif %}
                    <p class="dateText">{{ date|date:"m/d/y" }}</p>
                    {% for event in eventsOnThisDate %}
                        <p class="eventJSON">{{ event.as_json_script|safe }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div style="display: flex;justify-content: center;margin:15px;"><a href="{% url "main:events" %}?view=list">(View as list)</a></div>
    <div class="event-cards-calendar">
        <div class="front-event-card first">
            <h2 id="event-list-title">Events on Day</h2>
        </div>
    </div>
{% endblock %}