{% extends "base.html" %}
{% block meta %}
    <title>Berks Dental Assistants: Gallery</title>
    <meta name="description" content="Berks Dental Assistants' Gallery Page.">
{% endblock %}
{% block links %}
    {% load static %}
    <script src="{% static '/gallery/gallery.js' %}" defer type="text/javascript"></script>
    <link href="{% static "/gallery/gallery.css" %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block header %}
    <h1>Gallery</h1>
{% endblock %}
{% block content %}
    <div class="grid">
    {% for photo in photos %}
        <a class="grid-item" href="{% url "main:view_photo" %}?id={{ photo.id }}" aria-label="{{ photo.caption }}" style="background-image: url('{{ photo.photo_link }}')">
            <div class="image-clicker">
                <p class="h3">Click To View</p>
            </div>
        </a>
    {% endfor %}
    </div>
    {% if hasNext %}
        <button id="load-images-button">Load More Images</button>
    {% else %}
        <button disabled id="load-images-button">There Are No More Images</button>
    {% endif %}
{% endblock %}