{% extends "base.html" %}
{% block meta %}
    <title>Berks Dental Assistants: Gallery</title>
    <meta name="description" content="Berks Dental Assistants' Gallery Page.">
{% endblock %}
{% block links %}
    {% load static %}
    <link href="{% static "/base/image.css" %}" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{% static "/gallery/gallery.js" %}"></script>
{% endblock %}
{% block header %}
    <div class="hero is-medium">
        <div class="hero-body">
            <h1 class="title has-text-centered">Gallery</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% if photos|length > 0 %}
        <div class="image-grid" style="margin: 15px;">
            {% for photo in photos %}
                <div class="image-grid-item-outer-wrapper">
                    <a href="{% url 'main:view_photo' %}?id={{ photo.id }}" class="image-grid-item-inner-wrapper">
                        <img src="{{ photo.photo_link }}" alt="{{ photo.caption }}" />
                    </a>
                </div>
            {% endfor %}
            {% if hasNext %}
                <div id="load-images-button" class="image-grid-item-outer-wrapper" style="background-color: white;">
                    <button style="width: 100%;" class="image-grid-item-inner-wrapper">Load More Images</button>
                </div>
            {% endif %}
        </div>
    {% else %}
        <p>Currently there are no photos. Check back soon!</p>
    {% endif %}
{% endblock %}