{% extends 'base.html' %}
{% block meta %}
    <title>Berks Dental Assistants: Home</title>
    <meta name="description" content="Berks Dental Assistants' Home Page.">
{% endblock %}
{% block links %}
    {% load static %}
    <link href="{% static "/home/home.css" %}" type="text/css" rel="stylesheet">
    <script src="{% static "/home/home.js" %}" type="text/javascript"></script>
{% endblock %}
{% block header %}
    <div class="header-main header-dimensions-special">
        HEADER HERE
    </div>
{% endblock %}
{% block content %}
    <section class="upcoming-events">
        <h1 class="captioned-header">Upcoming Events</h1>
        <p class="h6 captioned-header-caption">(Click on a card for more information)</p>
        <div class="event-card-container">
            {% for event in upcomingEvents %}
                <div class="event-card">
                    <div class="front-event-card">
                        <h2>{{ event.name }}</h2>
                        <p class="event-month h3">{{ event.startDate|date:"b"|upper }}</p>
                        <p class="event-day h2">{{ event.startDate|date:"d" }}</p>
                        <p class="event-name">{{ event.name }}</p>
                        <p class="h4">{{ event.startTime }} - {{ event.endTime }}</p>
                        <p class="h4">{% if event.virtual %}<a href="{{ event.link }}">{{ event.link }}</a>{% else %}
                            {{ event.location }}{% endif %}</p>
                    </div>
                    <div class="back-event-card">
                        {{ event.description }}
                    </div>
                </div>
            {% empty %}
                <p>No upcoming events, check back soon!</p>
            {% endfor %}
            {% if upcomingEvents|length >= 1 %}
                <div class="event-card last-event-card">
                    <div class="front-event-card">
                        <p class="h1">To view more events, go to the <a class="h1" href="{% url "main:events" %}">events page</a>.</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}