<style>


    .ie-card {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: #bfbfbf;
        padding: 40px;
    }

    .ie-card > * {
        max-width: 85vw;
    }

</style>

<div class="ie-card">
    <h1>We're Sorry To Inform You, Our Website No Longer Supports Your Browser (Internet Explorer).</h1>
    <h4>Browsers We Recommend:</h4>
    <ul>
        <li><a href="https://www.google.com/chrome/index.html">Google Chrome</a></li>
        <li><a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a></li>
        <li><a href="https://www.microsoft.com/en-us/edge">Microsoft Edge</a></li>
        <li><a href="https://support.apple.com/en-us/HT204416">Safari (macOS Only)</a></li>
    </ul>
    <h4>Why don't we support this browser?</h4>
    <p>The company that made Internet Explorer (IE), Microsoft, made an announcement that they
        will no longer be supporting the browser. They announced that as of August 17, 2021
        they will not allow internet services with IE. As such we have decided
        it was best not to do the extra work of supporting a browser that will be shut down before
        the end of the year. More information can be found in the links below.
    </p>
    <ul>
        <li><a href="https://www.microsoft.com/en-us/microsoft-365/windows/end-of-ie-support">Article From Microsoft</a>
        </li>
        <li>
            <a href="https://www.msn.com/en-us/entertainment/gaming/internet-explorer-support-officially-ends-this-november/ar-BB18a6Vz">Article
                From MSN</a></li>
        <li>
            <a href="https://www.theverge.com/2020/8/17/21372487/microsoft-internet-explorer-11-support-end-365-legacy-edge">Article
                From The Verge</a></li>
        <li><a href="https://www.dailydot.com/debug/internet-explorer-microsoft-ending-support/">Article From Daily
            Dot</a></li>
        <li>
            <a href="https://www.dailymail.co.uk/sciencetech/article-8641065/Microsoft-announces-ending-support-Internet-Explorer-2021.html">Article
                From The DailyMail</a></li>
        <li>
            <a href="https://www.dailymail.co.uk/sciencetech/article-8641065/Microsoft-announces-ending-support-Internet-Explorer-2021.html">Article
                From TechWorm</a></li>
    </ul>
</div>