{% extends "base.html" %}
{% comment %}
    This page shows the officers and various information about them such as: name, title, email, etc.
{% endcomment %}
{% block meta %}
    <title>Berks Dental Assistants: Officers</title>
    <meta name="description" content="Berks Dental Assistants' Officers Page.">
{% endblock %}
{% block header %}
    <div class="hero is-medium">
        <div class="hero-body">
            <h1 class="title has-text-centered">Our Officers</h1>
        </div>
    </div>
{% endblock %}
{% block head %}
    {% load static %}
    <link href="{% static "/officers/officers.css" %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="officer-grid">
        {% for officer in officers %}
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        <h2>{{ officer }}</h2>
                        <p class="subtitle">{{ officer.title }}</p>
                    </div>
                </div>
                <div class="card-image flex-center">
                    <div class="image-container">
                        <img src="{{ officer.photo_link }}" alt="{{ officer }}'s Photo">
                    </div>
                </div>
                <div class="card-content">
                    <p class="content">{{ officer.biography }}</p>
                </div>
                {% if officer.email or officer.phone %}
                    <div class="card-footer">
                        {% if officer.email %}
                            <a class="card-footer-item" href="{{ officer.masked_email_link }}"
                               aria-label="{{ officer }}'s Email"><i class="fas fa-envelope"></i></a>
                        {% endif %}
                        {% if officer.phone %}
                            <a class="card-footer-item" href="{{ officer.masked_phone_link }}"
                               aria-label="{{ officer }}'s Phone Number"><i class="fas fa-phone-alt"></i></a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <!--{% for officer in officers %}
        {% if forloop.counter|divisibleby:3 or forloop.first %}
            <div class="section columns">
        {% endif %}
            <div class="column is-half">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header-title">{{ officer }}</h2>
                        <h2 class="card-header-icon">{{ officer.title }}</h2>
                    </div>
                    <div class="card-image">
                        <div class="card-image">
                            <img src="{{ officer.photo_link }}" alt="{{ officer }}'s Photo">
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="content">{% lorem %}</div>
                    </div>
                    {% if officer.email or officer.phone %}
                        <div class="card-footer">
                            {% if officer.email %}
                            <a class="card-footer-item" href="{{ officer.masked_email_link }}" aria-label="{{ officer }}'s Email"><i class="fas fa-envelope"></i></a>
                            {% endif %}
                            {% if officer.phone %}
                            <a class="card-footer-item" href="{{ officer.masked_phone_link }}" aria-label="{{ officer }}'s Phone Number"><i class="fas fa-phone-alt"></i></a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}-->
{% endblock %}