{% extends "base.html" %}
{% block meta %}
    <title>Berks Dental Assistants: Officers</title>
    <meta name="description" content="Berks Dental Assistants' Officers Page.">
{% endblock %}
{% block links %}

    <style>

        .cardContainer {
            display: flex;
            flex-wrap: wrap;
        }

        .officerCard {
            border-radius: 5px;
            width: 340px;
            margin: 30px 50px;
            background-color: white;
            box-shadow: 0 5px 5px grey;
        }

        .officerCard * {
            padding: 10px 20px;
            border-bottom: solid 2px lightgrey;
            display: block;
            margin: 2px 0;
        }

        .officerCard *:last-child {
            border: none;
            margin-bottom: 5px;
        }

        .contactLink {
            border: none;
            padding: 0;
            margin-right: 20px;
            float: left;
            text-decoration: none;
            color: black;
            transition: color 100ms linear;
        }

        .contactLink i {
            font-size: 50px;
        }

        .contactLink:hover {
            color: #9ba7ac;
            text-decoration: none;
        }

    </style>

{% endblock links %}

{% block content %}

    <h1> Our Officers </h1>

    <div class="cardContainer">

        {% for officer in officers %}

            <div class="officerCard">
                <img draggable="false" width="300px" height="300px" src="{{ officer.photo_link }}"
                     alt="{{ officer }}'s Picture"/>
                <h2>{{ officer }}</h2>
                <p style="color: black;">{{ officer.biography }}</p>
                {% if officer.email or officer.phone %}
                    <div class="contactMethods">
                        {% if officer.email %}
                            <a aria-label="{{ officer }}'s Email Address" class="contactLink"
                               href="{{ officer.masked_email_link }}"><i
                                    class="fas fa-envelope"></i></a>
                        {% endif %}
                        {% if officer.phone %}
                            <a aria-label="{{ officer }}'s Phone Number" class="contactLink"
                               href="{{ officer.masked_phone_link }}"><i
                                    class="fas fa-phone-alt"></i></a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

        {% endfor %}

    </div>


{% endblock %}