{% extends "base.html" %}
{% comment %}
    This file is used to show a single image, and lets you navigate from one image to the next
{% endcomment %}
{% block meta %}
    <title>Berks Dental Assistants: View Photo</title>
    <meta name="description" content="Berks Dental Assistants' View Photo Page.">
{% endblock %}
{% block head %}
    {% load static %}
    <link href="{% static "/gallery/view-photo.css" %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="image-box flex-center">
        <img alt="{{ photo.caption }}" src="{{ photo.photo_link }}"/>
    </div>
    <div class="interaction-box">
        <div class="flex-center">
            {% if last_link %}
                <a aria-label="Previous Image" href="{{ last_link|default_if_none:"#" }}"><i
                        class="is-size-4 icon fas fa-arrow-alt-circle-left"></i></a>
            {% else %}
                <p><i aria-label="There are no previous images."
                      class="is-size-4 icon fas fa-arrow-alt-circle-left"></i>
                </p>
            {% endif %}
        </div>
        <div class="flex-center info-box">
            <p class="has-text-weight-semibold">{{ photo.date_posted|date }}</p>
            <p aria-hidden="true">{{ photo.caption }}</p>
        </div>
        <div class="flex-center">
            {% if next_link %}
                <a aria-label="Next Image" href="{{ next_link|default_if_none:"#" }}"><i
                        class="is-size-4 icon fas fa-arrow-alt-circle-right"></i></a>
            {% else %}
                <p><i aria-label="There are no older images." class="is-size-4 icon fas fa-arrow-alt-circle-right"></i>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}