{% extends 'base.html' %}
{% comment %}
    This is the HTML sitemap, this is the one meant to be seen by users, while the XML one is used by search engines
{% endcomment %}

{% block meta %}
    <title>Berks Dental Assistants: Sitemap</title>
    <meta name="description" content="Berks Dental Assistants' Sitemap.">
{% endblock %}
{% block header %}
    <div class="hero is-medium">
        <div class="hero-body">
            <h1 class="title has-text-centered">Sitemap</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="section content columns">
        <div class="column">
            {% if user.is_authenticated %}<h2>User Pages</h2>{% endif %}
            <ul>
                <li><a class="is-size-5" href="{% url "main:home" %}">Home</a></li>
                <li><a class="is-size-5" href="{% url "main:officers" %}">Officers</a></li>
                <li><a class="is-size-5" href="{% url "main:gallery" %}">Gallery</a></li>
                <li><a class="is-size-5" href="{% url "main:events" %}">Events</a></li>
                <li><a class="is-size-5" href="{% url "main:about" %}">About</a></li>
            </ul>
        </div>
        {% if user.is_authenticated %}
            <div class="column">
                <h2>Administrative Pages</h2>
                <ul>
                    <li><a class="is-size-5" href="{% url "edit:admin_home" %}">Admin Home</a></li>
                    <li><a class="is-size-5" href="{% url "edit:photo_view" %}">Gallery Photos</a></li>
                    <li><a class="is-size-5" href="{% url "edit:officer_view" %}">Officers</a></li>
                    <li><a class="is-size-5" href="{% url "edit:link_view" %}">External Links</a></li>
                    <li><a class="is-size-5" href="{% url "edit:event_view" %}">Events</a></li>
                    <li><a class="is-size-5" href="{% url "edit:social_media_page_view" %}">Social Media Pages</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}